DistributedEmbeddedGeneticAlgorithms/Release/*
DistributedEmbeddedGeneticAlgorithms/Debug/*
DistributedEmbeddedGeneticAlgorithms/.xdchelp
DistributedEmbeddedGeneticAlgorithms/config/*
DistributedEmbeddedGeneticAlgorithms/.launches/*